*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  font-size: 1.5em;
  font-family: "Smokum", cursive;
  line-height: 1.5;
  background-color: bisque;
  color: rgb(49, 207, 34);
}

.bayan {
  max-width: 50%;
  margin: 20px auto;
}

.bayan-item {
  border: 1px solid brown;
  margin-bottom: 10px;
}

.bayan-title {
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s ease-out;
  position: relative;
}

.bayan-title::after {
  content: "";
  display: block;
  border-style: solid;
border-width: 10px 6px 0 6px;
border-color: #007bff transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.bayan-title:hover {
  background-color: brown;
}

.bayan-input {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  width: 0;
  height: 0;
}

.bayan-input:checked ~ .bayan-title {
  background: brown;
}

.bayan-input:checked ~ .bayan-title::after {
  border-style: solid;
border-width: 0 6px 10px 6px;
border-color: transparent transparent #007bff transparent;

}

.bayan-input:checked ~ .bayan-img {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
}

p {
  margin: 0 0 5px;
}

.bayan-img {
  display: none;
  
}
